@import url('https://fonts.googleapis.com/css?family=Catamaran:500&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Catamaran", Verdana;
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10% 0px 10%;
    background: none;
    height: 10%;
}

.logo {
    cursor: pointer;
    height: 30px;
    width: auto;
    padding-top: 5px;
}

.main-nav {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    padding: 0px 15px;
}

.main-nav li a {
    transition: 0.3s;
}

.main-nav li a:hover{
    color: darkgrey;
}

#main-background{
    height:100%;
}

/* about */
@media(min-width:1080px){
    .about {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about div {
    padding: 20px;
}

h2 {
    font-size: 40px;
}
.about-text {
    font-family: "Catamaran", Verdana;
    font-weight: 500;
    font-size: 15px;
    flex:2;
    order:2;
}

.about-profile {
    flex:1;
    order:1;
    max-width: 80%; 
    border-radius: 200px;
}