@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
* {
    box-sizing: border-box
} 

body, html {
    height: 100%;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8%;
    background-color: black;
}

.logo {
    cursor: pointer;
    height: auto;
    max-width: 25vw;
    padding: 5px;
}

@media only screen and (min-width:768px){
    .main{ 
        margin: auto;
        width: 600px;
    }
}

@media only screen and (max-width:768px){
    .main{ 
        margin: auto;
        width: 98%;
    }
}

table{
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

td:hover{
    opacity: .8;
}

input[type="button"],[type="text"]{
    font-family: "Roboto Mono", Verdana;
    font-weight: 500;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent; 
} 

input[type="button"]{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

input[type="text"]{
    text-align: right;
    text-overflow: ellipsis;
}

.displayCurr{
    border: 2px lightgrey solid;
    font-size: 50px;
}

.displayPrev{
    font-size: 40px;
}

.symbol{
    background: lightgrey;
}

.number{
    background: darkgrey;
}

.eval{
    background: #5FE7AB;
}